@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "About";
}
<body class="AboutBody">


<div class="text-center">
    <h1 class="About2">About Mastende </h1>
    <h4 class="About">At Mastende, we understand that finding the perfect home rental can be a daunting task. That's why 
        we're here to simplify the process and provide you with a seamless experience every step of the way.
    </h4>

        <h1 class="About2">Our Mission</h1>
        <h4 class="About">
        Our mission at Mastende is to connect renters with their ideal homes in South Africa. We strive to 
        make the rental search process efficient, transparent, and enjoyable for everyone involved.
    </h4>

        <h1 class=" About2">Why Choose Mastende?</h1>
        <h4 class="About">
        <strong>Expertise:</strong> With years of experience in the South African real estate market, our team
        possesses the knowledge and insight needed to help you find the perfect rental property.
        
    </h4>

        <h4 class="About">
        <strong>Diverse Listings: </strong>Whether you're looking for a backroom in a Township, a cozy apartment in Cape Town, a 
        beachfront villa in Durban, or a spacious family home in Johannesburg, Mastende offers a diverse 
        range of rental listings to suit every need and preference.
    </h4>

        <h4 class="About">
        <strong>User-Friendly Platform: </strong>Our intuitive website makes it easy to search for rentals, 
        view property details, and contact landlords or property managers directly.
    </h4>

        <h4 class="About">
        <strong>Customer Satisfaction: </strong>At Mastende, customer satisfaction is our top priority. We're 
        committed to providing exceptional service and support to ensure that your rental experience is smooth
        and stress-free.
    </h4>

        <h1 class="About2">Get in Touch</h1>
        <h4 class="About">
        Ready to find your dream rental home in South Africa? Start your search with Mastende today!

    </h4>

        

    <form asp-controller="Owners" asp-action="Index" method="get">
        <button type="submit" class="button-30 "> Scroll places</button>
    </form>

        <h1 class="About2 pt-5">Contact Us</h1>
        <h4 class="About"> If you want to enquire/enlist your property please send us an email at 
            <strong>melokuhlephilasande33@gmail.com</strong> with the following details (Name, Surname,
            Cellphone Number, Area, Town, Description of the place) and the number of (Bedrooms, Bathrooms,
             Garages). Attach pictures of the place and certified copies of an ID and Title Deed.</h4>

</div>

</body>