html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.home {
    background-size: cover;
    background-image: url('../icons/tierra-mallorca-rgj1j8sdeay-unsplash.jpg');
    background-position: center;
      /*width:100%;
      height:800px;*/
}

.Caption1 {
    color: white;
    font-family: 'Lobster', sans-serif;
    margin:0;
}

.Caption2 {
    color:white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.About {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.About2 {
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
}

.AboutBody{
    background-color:#ececec;
}

.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-24:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.button-24:active {
    opacity: .5;
}

body {
    /*background-size: cover;
    background-image: url('../icons/tierra-mallorca-rgj1j8sdeay-unsplash.jpg');*/
/*    background-size: contain;
*/    /*background-position: center;*/
    margin-bottom: 60px;
}

.carousel-item1 {
    height: 300px; /* Set your desired height here */
}

    .carousel-item img {
        object-fit: cover; /* This will make sure the image covers the entire carousel item */
        height: 100%; /* Make the image take the full height of the carousel item */
        width: 100%; /* Make the image take the full width of the carousel item */
    }

/*ul.navbar-nav.flex-grow-1 {
    justify-content: end;
}*/

.bahianita-regular {
    font-family: "Bahianita", sans-serif;
    font-weight: 400;
    font-style: normal;
}
